<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matmap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".NewLocation"
            android:label="@string/title_activity_new_location"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".History"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".RecordsCreator"
            android:label="Records creator" >
        </activity>
        <activity
            android:name=".record_managers.RecordsManager"
            android:label="@string/title_activity_record_manager" >
        </activity>
        <activity
            android:name=".record_managers.RecordGroup"
            android:label="@string/title_activity_record_group" >
        </activity>
        <activity
            android:name=".record_managers.DetailInfo"
            android:label="Detail info" >
        </activity>
        <activity
            android:name=".record_managers.DeleteManager"
            android:label="Delete manager" >
        </activity>
        <activity
            android:name=".record_managers.FindRecordsByName"
            android:label="Find records" >
        </activity>
        <activity
            android:name=".record_managers.RenameRecord"
            android:label="Rename record" >
        </activity>
        <activity
            android:name=".record_managers.NeighborCreator"
            android:label="Neighbor creator" >
        </activity>
        <activity
            android:name=".PathViewer"
            android:label="Path viewer" >
        </activity>
    </application>

</manifest>
